.card {
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 350px;
    transition: transform 0.3s;
    border: 3px solid black;
}

/* Для центральной карточки */
.card.popularCard {
    transform: scale(1.2) !important;
    z-index: 10;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.subtitle {
  font-size: 0.875rem;
  opacity: 0.8;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.price {
  font-size: 1.75rem;
  font-weight: 800;
  margin-top: auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex: 1;
}

.featureItem {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.featureBullet {
  color: #1f2937;
  font-weight: bold;
}

.featureText {
  font-size: 0.875rem;
}

.badge {
    position: absolute;
    bottom: 40px;
    left: -48px;
    background-color: #facc15;
    color: black;
    padding: 0.25rem 3rem;
    font-size: 0.75rem;
    font-weight: bold;
    transform: rotate(45deg);
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.popular {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ef4444;
  color: white;
  padding: .8rem;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 9999px;
}

.editableField {
  position: relative;
  margin-bottom: 0.5rem;
}

.inputField {
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  background: transparent;
  color: inherit;
}

.inputField:focus {
  outline: 1px solid #3b82f6;
  border-radius: 0.25rem;
}

.checkIcon {
    position: absolute;
    right: calc(50% - 20px);
    top: -40px;
    transform: translateY(-50%);
    color: #22c55e;
    cursor: pointer;
    background: white;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    padding: 5px;
}

.checkIcon2 {
    position: absolute;
    right: 115px;
    top: -47px;
    transform: rotate(-47deg);
    color: #22c55e;
    cursor: pointer;
    background: white;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    padding: 5px;
}

.inputWrap {
    display: flex;
    position: relative;
    justify-content: center;
    width: 300px;
}

input {
    border: 2px solid black;
    outline: none;
    padding: 5px;
    background: transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 35px;
    width: calc(100% - 35px);
}

.coin {
    width: 70px;
    position: absolute;
    top: 20px;
    right: -35px;
    z-index: 100;
}

.badgeWrap {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.emojiBtn {
    position: absolute;
    width: 35px;
    height: 35px;
    background: black;
    border: 2px solid black;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    right: 0px;
    cursor: pointer;
}

.emojiPicker {
    position: fixed;
    top: 20px;
    left: 20px;
    background: black;
    border-radius: 1rem;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 5px;
    z-index: 10000;
    width: max-content;
    animation: fadeInUp 0.25s ease-out forwards;
}

.emojiItem {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}